// ペット登録画面(new)
.pet-new-content {
  height: 600px;
  background-image: image-url("pet9.jpg");
  background-size: cover;
}

.pet-new-list {
  height: 600px;
  padding: 90px 20px 0;
  background: rgba(245, 245, 245, 0.5);
  color: #333;
  margin:  auto;
}

.pet-new-list > h1 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.p-field {
  text-align: center;
  margin: 10px; 
}
// ペット登録画面

// ペット一覧(index)
.wapper {
  height: 600px;
  background-image: image-url("pet2.jpg");
  background-size: cover;
}

.pet-list {
  display: flex;
  flex-wrap: wrap;
}

.pet-list > li {
  padding: 20px;
}

.pet-image {
  height: 200px;
  width: 200px;
}
// ペット一覧

// ペット詳細(show)
.show-pet-info {
  display: flex;
}

.show-pet-image {
  height: 450px;
  width: 450px;
  padding: 20px;
}

.show-pet-list-up {
  padding: 20px;
  color: #333;
}

.show-pet-list > li {
}

.show-pet-list-down {
  padding: 20px;
  color: #333;
}

.show-pet-list-down {
}
// ペット詳細