.user-registrations-new {
  height: 600px;
  background-image: image-url("pet4.jpg");
  background-size: cover;
}

.user-session-new {
  height: 600px;
  background-image: image-url("pet1.jpg");
  background-size: cover;
}

.user-registrations-new-list {
  width: 30%;
  padding: 50px 20px;
}

.user-registrations-new-list > h1 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.field {
  text-align: center;
  margin: 10px; 
}

.actions {
  text-align: center;
}