.user-registrations-new {
  height: 600px;
  background-image: image-url("pet4.jpg");
  background-size: cover;
}

.user-session-new {
  height: 600px;
  background-image: image-url("pet7.jpg");
  background-size: cover;
}

.user-registrations-new-list {
  height: 600px;
  padding: 50px 20px;
  background: rgba(245, 245, 245, 0.5);
}

.user-registrations-new-list > h1 {
  font-weight: bold;
  font-size: 20px;
}

.field {
  margin: 10px; 
}

.actions {
  padding: 10px 0 0 130px;
}